UADE/Web Resources/Mapa Bing
UADE/Web Resources/conexionAPisUADE
.vs/
UADE/Plugins/UADE Plugins/.vs/
UADE/Plugins/UADE Plugins/UADE Plugins/obj/*
UADE/Plugins/UADE Plugins/UADE Plugins/bin/*
bin/
obj/